*.class
*.log

# sbt specific
.cache
.history
.cache-tests
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Wercker
_builds/
_projects/
_steps/

# Eclipse
.cache-main
.classpath
.project
.settings

# GO
dockerfile-cassandra-inject/go/bin/app

# Cassandra
dockerfile-cassandra/metastore_db/
